
{
          'db_connect' => [
                            'dbi:SQLite:dbname=wocr.db',
                            undef,
                            undef,
                            {
                             'sqlite_unicode' => 1
                            }
                         ],
          'db_schema' => 'Wocr::DB::Schema',
          'secret' => 'app_secret',
            mail => {
               from    => 'info@host.example',
               type    => 'text/html',
               how     => 'smtp',
               howargs => [ 'mail.host.example',
                    AuthUser => 'me@host.example',
                    AuthPass => '123xyz',
               ],
  },
}
